body{
    margin: 0;
    padding: 0;
    overflow-x: 0;
}
.container{
    width: 100vw;
    height: 70px;
    background-color: black;
    opacity: 0.7;
}
header{
    position: relative;
    height: 90vh;
    display: flex;
    background-image: url(/assets/images/pexels-xmtnguyen-1001773.jpg);
    background-size: cover;
}
header img{
    width: 70px;
    position: absolute;
    top: 0;
    z-index: 1;
}
header nav{
    position: absolute;
    right: 0;
    height: 70px;
    align-content: center;
}
header>nav>ul>li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
header>nav>ul>li>a:hover{
    border-bottom: 3px solid red;
}
hero>div{
    width: 35vw;
    height: 90vh;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.4;
}
hero>h1{
    position: absolute;
    top: 30vh;
    left: 70px;
    color: white;
    width: 20vw;
    font-size: 30px;
}
hero>p{
    position: absolute;
    top: 40vh;
    left: 70px;
    color: white;
    width: 25vw;
    font-size: 17px;
}


